@import "../../App.scss";

.Homepage {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 17px;
  color: $main-black;

  .homepage-title {
    font-size: 36px;
    color: $main-black;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;

    .highlight {
      color: $main-blue;
    }
  }

  .homepage-intro-section {
    text-align: center;
    line-height: 1.8;

    p {
      margin-bottom: 16px;

      strong {
        color: $main-blue;
        margin-right: 6px;
      }
    }
  }

  .section-title {
    margin: 60px 0 20px;
    font-size: 24px;
    color: $main-blue;
    text-align: center;
  }

  .example-table {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    font-size: 17px;

    thead {
      background: linear-gradient(
        to right,
        $main-blue,
        lighten($main-blue, 10%)
      );
      color: $main-white;

      th {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
        padding: 12px;
      }
    }

    td {
      padding: 12px;
      border: 1px solid #eee;
      background-color: #fff;
    }

    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tbody tr:hover {
      background-color: $list-item-blue;
      transition: background-color 0.3s ease;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    .homepage-title {
      font-size: 28px;
    }

    .example-table {
      font-size: 15px;
    }
  }
}

.hero-image-bottom-right {
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 660px;
  height: auto;
  z-index: 1;
}
